.center-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.divTable {
    display: table;
}

.header {
    display: block;
}

.divRow {
    display: table-row;
    width: auto;
}

.divCell {
    display: table-cell;
}